*{
    margin: 0;
    padding: 0;
}
.block1{
    width: 100vw;
    height: 94vh;
    background: #000;
}
h1{
    color: antiquewhite;
}
a{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 20px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.685);
    text-shadow:5px 5px 8px rgba(177, 54, 54);
    border-radius: 20px;
    border: 2px solid;
    background: rgba(210, 180, 140, 0.589)
 }
img{
    width: 1650px;
    height: 880px;
}